<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <h3>Total Boxes: <%= current_user.boxes.count %></h3>
    <h3>Plan Type: <%= @profile.plan_type.capitalize %>
    <h4><%= "Expires: #{format_date(@profile.plan_expiration)}" if @profile.plan_type == 'pro' %> </h4>
    <%= render 'payments/new' %>
  </div>  


  <div class="col-md-4">
    <h3>Account Functionality</h3>
    <p>
      <%= link_to 'Add New Box', new_box_path, class: 'btn btn-default' %>
      <%= link_to 'Manage Boxes', boxes_path, class: 'btn btn-default' %>
    </p> 
    <p>
      <%= link_to 'Edit Profile Information', edit_profile_path(@profile), class: 'btn btn-default' %>
    </p>
    <p>
      <%= link_to 'Check My Previous Payments', payments_path, class: 'btn btn-default' %>
    </p>  
  </div>   
</div>
<div class="row text-center"> 
  <h3>My Boxes</h3>
</div>