<div class="row">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <h1><%= @profile.account_name %></h1>
        <p><%= @profile.about %></p>
        <h2><%= link_to '', "#{@profile.twitter}", class: "fa fa-twitter" %></h2>
        <h2><%= link_to '', "#{@profile.facebook}", class: "fa fa-facebook" %></h2>
      </div>
      <div class="col-md-6 text-center">
        <h1><%= image_tag(@profile.picture_url(:standard)) %></h1>
      </div>  
    </row>
  </div>
</div>
<%= render 'logged_in_user_profile' if current_user == @profile.user%>
<h1 class='text-center'>Boxes</h1>
<%= render @profile.user.boxes %>
