<div class="row">
  <div class="jumbotron">
    <h1><%= @profile.account_name %></h1>
    <p><%= @profile.about %></p>
  </div>
</div>
<div class="row">
  <center><%= image_tag(@profile.picture_url(:standard)) %></center>
</div>  
<%= render 'logged_in_user_profile' if current_user == @profile.user%>

<div class="row">
    <%= link_to 'Back', profiles_path %>
</div>   