<div class='row text-center'>
  <h1>Codes for <%= link_to @box.title, box_path(@box) %></h1>
  <h3>
    Total Codes: <%= @codes.count %> | 
    Used Codes: <%= @codes.where(expired: true).count %> | 
    Codes SMS'd: <%= @codes.where(expired: false, sent_via_message: true).count %>
  </h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      
      <th><h3>Code</h3></th>
      <th><h3>Expired</h3></th>
      <th><h3>Sent via Message?</h3></th>
      
    </tr>
  </thead>
  <tbody>
    <% @codes.each do |code| %>
    <tr>
      <td><%= code.code %></td>
      <td><%= code.expired %></td>
      <td><%= code.sent_via_message %></td>
    </tr>  
    <% end %>
  </tbody>

</table>