<div class='row text-center'>
  <h1>Payments History for <%= link_to current_user.profile.account_name, profile_path(current_user.profile) %></h1>
</div>  

<table class="table table-hover">
  <thead>
    <tr>
      <th><h3>Date</h3></th>
      <th><h3>Amount</h3></th>
      <th><h3>Description</h3></th>
      <th><h3>Payment ID</h3></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
    <tr>
      <td><%= format_date(payment.created_at) %></td>
      <td><%= monetise(payment.amount) %></td>
      <td><%= payment.description%></td>
      <td><%= payment.stripe_payment_id %></td>
    </tr>  
    <% end %>
  </tbody>

</table>
