<!DOCTYPE html>
<html>
  <head>
    <title>Merchegg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web|Permanent+Marker|Baloo+Bhaina" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/flash'%>
      <%= yield %>
    </div>
  </body>
</html>
